* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h4,
p,
ul {
  font-family: sans-serif;
}
h1 {
  font-size: 48px;
  text-transform: capitalize;
  font-style: italic;
}

h2 {
  font-size: 52px;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
ul {
  font-size: 18px;
}
li {
  font-size: 18sp;
}
.class-main-header {
  background-color: #f7f7f7;
  padding: 20px;
  /*This indicated (left-right),(top-bottom) padding*/
  /*padding: 20px 40px;*/
  border-top: 5px solid #1098ad;
}
<!-- Selects all the Ps insided footer,
/* Descendent selector-- > footer p {
  text-align: center;
  font-size: 16px;
}

article header p {
  font-style: italic;
} */

#id-author {
  font-style: italic;
  font-size: 16px;
}
#id-copyright {
  text-align: center;
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.class-list-items {
  list-style: none;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-radius: 10px;
}
/* All the first-child of li elements.You can also supply values like odd or even.These are called pseudo classes (:)*/
li:nth-child(2) {
  font-weight: bold;
}
/*This wont work.Because p is not the first child of article.It is header*/
article p:first-child {
  color: red;
}
/*This works*/
/* article p:last-child {
  background-color: aliceblue;
} */
/*Styling links*/
/*Styling links visited.Maintain the same order*/

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}

a:hover {
  color: orange;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}
/*Click state*/
a:active {
  background-color: black;
  font-style: italic;
}
/*Read more on how conflicting declarations are resolved*/
/* #id-copyright {
  color: red;
}
.class-copyright {
  color: antiquewhite;
}
.text {
  color: #444;
} */
