h1,
h2,
h3,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h4,
p,
ul {
  font-family: sans-serif;
}
h1 {
  color: blue;
  font-size: 48px;
  text-transform: capitalize;
  font-style: italic;
}

h2 {
  font-size: 52px;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
ul {
  font-size: 18px;
}
li {
  font-size: 18sp;
}
<!-- Selects all the Ps insided footer,
Descendent selector-- > footer p {
  text-align: center;
  font-size: 16px;
}
artcile header p {
  font-style: italic;
}
